.InputLeftElem {
  @apply text-black border sm:w-44 hidden sm:flex;

  height: auto;
  padding: 0px 12px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #e2e8f0;
  &:focus-within {
    outline: auto;
  }

  & > input {
    @apply w-28;
    outline: none;
  }
}
