@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/index.scss";
@import "../shared/ui/card/index.scss";
@import "../pages/TodoTasks/todoTask.scss";
@import "../shared/ui/wrapper/index.scss";
@import "../shared/ui/btns/btn-done/index.scss";
@import "../entities/CardVisual/ui/index.scss";
@import "../shared/ui/todosContainer/index.scss";
@import "../shared/ui/p/index.scss";
@import "../shared/ui/btns/btn-modal/index.scss";
@import "../shared/ui/modalFormInput/index.scss";
@import "../features/Template/ui/index.scss";
@import "../entities/Header/ui/index.scss";
@import "../entities/Footer/ui/index.scss";
@import "../entities/FormTask/ui/index.scss";
@import "../shared/ui/modalFormInput/index.scss";
@import "../pages/Account/index.scss";
@import "../entities/NavPanel/ui/index.scss";
@import "../pages/index.scss";
* {
  font-family: "Roboto";
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// , Arial, Helvetica, sans-serif;
