.modalWrapper {
  @apply backdrop-blur-sm w-full h-screen fixed opacity-0 top-0 left-0 flex justify-center items-center pointer-events-none transition-all z-50;
  background-color: rgba(0, 0, 0, 0.404);

  .modalWrapper__form {
    @apply flex flex-col gap-4 p-10 lg:w-3/6 lg:h-4/6 rounded-md w-3/4;
    background-color: rgba(255, 252, 252, 0.89);
    color: rgb(0, 0, 0);

    .textarea {
      @apply text-black bg-transparent border text-lg font-normal border-blue-300;
    }
  }
}

.active {
  @apply opacity-100 pointer-events-auto;
}
