.btn {
  @apply flex items-center justify-center rounded-md gap-2 border p-2 py-0;
}

.activityBtn {
  @apply border rounded-md p-3 px-4;
}

.newPanel {
  display: inline-flex;
  height: 48px;
  padding: 0px 22px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 1000px;
  background: #306bff;
}

.greenNewPanel {
  @extend .newPanel;
  @apply bg-green-400;
}

.darkText {
  @apply text-black;
}
.lightText {
  @apply text-white;
}

.submit {
  @apply bg-slate-400 w-20;
}
