.navPanel {
  @apply h-screen grid bg-white;

  grid-template-rows: 88px 232px auto;
  width: 250px;
  border-right: 1px solid var(--lineColor);
  border-bottom: 1px solid var(--lineColor);

  .mainTitle {
    grid-row: 1 / 2;
    border-bottom: 1px solid var(--lineColor);
    @apply flex justify-center items-center text-5xl font-bold text-gray-600 cursor-pointer gap-3;
  }
  .navig {
    grid-row: 2 / 3;
    border-bottom: 1px solid var(--lineColor);
    @apply flex items-start flex-col pl-6 font-medium text-base justify-center w-full;
  }
  .theme {
    grid-row: 4 / 5;
    border-bottom: 1px solid var(--lineColor);
  }
  .spaces {
    grid-row: 3 / 4;
    border-bottom: 1px solid var(--lineColor);
    @apply flex flex-col;
    .spaces__title {
      @apply flex justify-between p-6 items-center text-xs;
    }
    .spaces__list {
      @apply flex flex-col  items-start ml-6 mt-7;
      & > li {
        @apply cursor-pointer hover:bg-slate-50 p-3;
      }
    }
  }
}
