.inputClass {
  @apply text-black border;
  display: flex;
  width: 173px;
  height: 40px;
  padding: 0px 12px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #e2e8f0;
  &:focus-within {
    outline: auto;
  }

  & > input {
    @apply w-28;
    outline: none;
  }
}
